@import "uikit";
.pl-60px{
  padding-left: 60px;
}
.uk-text-light{
  font-weight: lighter;
}

.uk-slideshow-items li{
  div{
    z-index: 123;
  }
  &:after{
    content: '';
    background: rgba(0, 0, 0, 0.25);
    position: absolute;
    width: 100vw;
    height: 100%;
  }
}

.top-65p{
  top: 65%;
}

.pl-30p{
  padding-left: 30%;
}

.children{
  position: relative;
  &:after{
    content: '';
    background: url(../Cover-or-back.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 22;
    position: absolute;
    height: 105%;
    width: 40%;
    top: -5%;
    left: 70px;
    bottom: 0;
  }
}

.gallery-section .image-box .image{
  height: 250px;
  overflow: hidden;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
}

.navigation .nav-header > ul > li.uk-active > a {
  color: #be9e63;
}

.footer-widget img{
  height:120px;
}
.default-portfolio-item{
  height: 100%;
  div{
    height: 100%;
    .image-box{
      height: 100%;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
    }
  }
}